* {
    margin: 0;
    font-family: 'Roboto', sans-serif, black;
    border: 1px solid black; 
}

body {
    display: flex;
    height: 100vh;
    background: url("assets/burger-friends.jpg");
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #0fb9b1;
    width: var(--s-full);
    max-width: 100%;
}

.food-generator {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    margin: 36px;
   
}

div {
    background-color: #95a5a6;
    width: 35vh;
    height: 35vh;
    text-align: center;
    margin: inherit;
}

.hidden{
    display: none
}

.result {
display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
} 

.result-img {
    height: 1in;
}

/* div.background {
    background-color: frosted white - rgba(225, 225, 225, .9);
    border: 2px solid black;
  } */
/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
